{% extends 'base/index.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}

<div class="row">
	<div class="col-8">
		<div class="box">
			<div class="box-header with-border">
			  <h4 class="box-title">Management User</h4>
			</div>
			<div class="box-body">
			  <div class="table-responsive">
				  <table id="table_user" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
					<thead>
						<tr>
							<th class="width_nomor_tabel">NO</th>
							<th>NAMA</th>
							<th>NIP</th>
							<th>USERNAME</th>
							<th>LEVEL</th>
							<th class="width_nomor_tabel"></th>
						</tr>
					</thead>
					<tbody>
						{% for x in data_user %}
							<tr>
								<td class="td_center">{{forloop.counter}}</td>
								<td>{{x.fullname.title}}</td>
								<td>{{x.nip}}</td>
								<td>{{x.uname}}</td>
								<td>{{x.level}}</td>
								<td class="td_center">
									<button class="btn btn-rounded btn-info btn-xs" onclick="edit_user(this)" id="btn_edit_user" data-u="{{x.uname}}" data-id="{{x.uid|encrypt_this}}" edit_url="{% url 'bimbel_app:usermanagementedit' x.uid|encrypt_this %}"><i class="fa fa-pencil"></i></button>
									<button class="btn btn-rounded btn-danger btn-xs" onclick="delete_user(this)" id="btn_del_user" data-u="{{x.uname}}" data-id="{{x.uid|encrypt_this}}" del_url="{% url 'bimbel_app:usermanagementdelete' x.uid|encrypt_this %}"><i class="fa fa-trash"></i></button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>       
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="box">
			<div class="box-header with-border">
			  <h4 class="box-title">Input Data</h4>
			</div>
			<div class="box-body">
			  <form method="POST" action="{% url 'bimbel_app:usermanagement' %}" id="frm_user" autocomplete="off">
					{% csrf_token %}
					  <div class="form-group">
					    <label for="exampleInputPassword1">NIP</label>
					    {{form.nip}}
					  </div>
					  <div class="form-group">
					      <label for="exampleInputEmail1">Nama Lengkap</label>
					      {{form.fullname}}
					    </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Hakakses</label>
				    {{form.level}}
				  </div>
					<div class="form-group">
				      <label for="exampleInputEmail1">Username</label>
				      {{form.uname}}
				    </div>
				    <div class="form-group" id="div_pwd">
				      <label for="exampleInputPassword1">Password</label>
				      {{form.pwd}}
				    </div>
				  <button type="submit" class="btn btn-primary">Input</button>
				  <a href="{% url 'bimbel_app:usermanagement' %}" id="cancel_edit" style="display: none;" class="btn btn-danger">Cancel</a>
				</form>
			</div>
			<!-- /.box-body -->
			<!-- <div class="box-footer">
			  <button type="submit" class="btn btn-rounded btn-success">Input</button><button class="btn btn-rounded btn-danger">Cancel</button>
			</div> -->
			<!-- /.box-footer-->
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/page/usermanagement.js' %}"></script>
{% endblock %}