{% extends 'base/index.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<style type="text/css">
	.custom_width{
		width: 3em !important;
	}
</style>
<div class="row">
	<div class="col-4">
		<div class="box">
			<div class="box-header with-border">
			  <h4 class="box-title">Hasil Ujian</h4>
			</div>
			<div class="box-body">
			  <div class="row">
			  	<div class="col-md-3">
			  		Judul
			  	</div>
			  	<div class="col-md-8">
			  		: {{data_ujian.judul}}
			  	</div>
			  </div>
			  <div class="row">
			  	<div class="col-md-3">
			  		Kategori
			  	</div>
			  	<div class="col-md-8">
			  		: {{data_ujian.kategori.nama_ujian}}
			  	</div>
			  </div>
			  <div class="row">
			  	<div class="col-md-3">
			  		MAPEL
			  	</div>
			  	<div class="col-md-8">
			  		: {{data_ujian.mata_pelajaran.nama_mapel}}
			  	</div>
			  </div>
			  <div class="row">
			  	<div class="col-md-3">
			  		Durasi
			  	</div>
			  	<div class="col-md-8">
			  		: {{data_ujian.durasi}} Menit
			  	</div>
			  </div>

			  <div class="row">
			  	<div class="col-md-3">
			  		Jumlah Soal
			  	</div>
			  	<div class="col-md-8">
			  		: {{data_ujian.jml_soal_tampil}} Soal
			  	</div>
			  </div>
			  <!-- <div class="row"> -->
			  	<div class="col-12" style="text-align: right;">
			  		<button class="btn btn-md btn-primary" onclick="close_tab(this)">Tutup</button>
			  	</div>
			  <!-- </div> -->
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">SOAL</h4>
					</div>
					<div class="box-body">
					  <div class="row">
					  	{{data_jawaban_soalnya.0.jawaban}}
					  	{% with ''|center:data_ujian.jml_soal_tampil as range %}
						{% for _ in range %}
						    <!-- {{ forloop.counter }} -->
						    <div class="mb-1 mr-1">
						  		<button id="btn_legend_{{forloop.counter}}" onclick="get_soal(this, '{{data_ujian.id_ujian|encrypt_this}}','{{forloop.counter}}')" class="waves-effect waves-light btn btn-social-icon 
						  		{% if jml_soal == 0 %} 
						  			{% if forloop.counter == 1 %} btn-warning {% endif %}
						  		{% else %}
						  			{% if forloop.counter in arr_data %} btn-success {% endif %}
						  		{% endif %} 
						  		btn-github custom_width btn-soal"><strong>{{ forloop.counter }}</strong></button>
						  	</div>
						{% endfor %}
						{% endwith %}
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-8">
		{% for xx in data_soal %}
		{% if forloop.first %}
		<input type="hidden" name="soalke" id="soalke" value="{{xx.no_soal}}">
		<input type="hidden" name="id_soal_" id="id_soal_" value="">
		<div class="box">
			<div class="box-header with-border">
			  <h4 class="box-title">Soal Nomor : <span id="nomor_soal">{{xx.no_soal}}</span></h4>
			</div>
			<div class="box-body">
				<div class="row mb-10">
						
							<div class="col-12 mb-10">
								<div class="row">
								  	<div class="col-2">
								  		<strong>Jawaban Benar</strong>
								  	</div>
								  	<div class="col-md-8">
								  		<strong> : <span id="jawaban_benar"></span></strong>
								  	</div>
								</div>
								<div class="row">
								  	<div class="col-2">
								  		<strong>Jawaban Anda</strong>
								  	</div>
								  	<div class="col-md-8">
								  		<strong>: <span id="jawaban_siswa"></span></strong>
								  	</div>
								</div>
								<div class="row">
								  	<div class="col-2">
								  		<strong>Status</strong>
								  	</div>
								  	<div class="col-md-8">
								  		<strong>: <span id="status_jawaban"></span></strong>
								  	</div>
								</div>
							</div>
							<div class="col-12 mb-10">
								<div id="soal">
									{{xx.uraian_soal | safe}}
								</div>
							</div>
							<div class="col-12 mb-10">
								<strong>A</strong> 
								<div id="jawaban1">{{xx.jawaban1 | safe}}</div>
							</div>
							<div class="col-12 mb-10">
								<strong>B</strong> 
								<div id="jawaban2">{{xx.jawaban2 | safe}}</div>
							</div>
							<div class="col-12 mb-10">
								<strong>C</strong> 
								<div id="jawaban3">{{xx.jawaban3 | safe}}</div>
							</div>
							<div class="col-12 mb-10">
								<strong>D</strong> 
								<div id="jawaban4">{{xx.jawaban4 | safe}}</div>
							</div>
							<div class="col-12 mb-10">
								<strong>E</strong> 
								<div id="jawaban5">{{xx.jawaban5 | safe}}</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'vendor_components/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript">

	$(document).ready(function(){
		$('#table_user').DataTable( {
			sort:false,
			dom: 'Bfrtip',
			buttons: [
				'excel', 'pdf'
			]
		} );
		get_soal($('#btn_legend_1'), '{{data_ujian.id_ujian|encrypt_this}}','1')
	})

	function close_tab(e){
		window.top.close();
	}

	function get_soal(e, kode_ujian,no_soal){
		$.ajax({
	        type: "POST",
	        headers: { "X-CSRFToken": csrf_token },
	        url: "{% url 'bimbel_app:lihat_hasil' 0 %}".replace('0', kode_ujian),
	        data: {'kode_ujian': kode_ujian, 'no_soal':no_soal,},
	        dataType: 'json',
	        success: function(res){
	        	console.log(res)
	            if (res['status']) {

					$('#soalke').val(no_soal);
		            $('#nomor_soal').text(no_soal);

		            $('.btn-soal').each(function(i, obj) {
					    if ($(obj).hasClass('btn-warning')) {
					    	$(obj).removeClass('btn-warning');
					    }
					});

		            $(e).addClass('btn-warning');

	            	if (res['data_soal'].length != 0) {
		                editor.setData(res['data_soal'][0]['uraian_soal']);
		                jawaban1_editor_.setData(res['data_soal'][0]['jawaban1']);
		                jawaban2_editor_.setData(res['data_soal'][0]['jawaban2']);
		                jawaban3_editor_.setData(res['data_soal'][0]['jawaban3']);
		                jawaban4_editor_.setData(res['data_soal'][0]['jawaban4']);
		                jawaban5_editor_.setData(res['data_soal'][0]['jawaban5']);

		                $('#jawaban_benar').text(res['data_soal'][0]['kunci_jawaban']);
		                $('#jawaban_siswa').text(res['data_jawaban_soalnya'][0]['jawaban']);

		                if (res['data_soal'][0]['kunci_jawaban'] == res['data_jawaban_soalnya'][0]['jawaban']) {
		                	$('#status_jawaban').html('<span class="badge badge-success">BENAR</span>')
		                }else{
		                	$('#status_jawaban').html('<span class="badge badge-danger">SALAH</span>')
		                }
		            	
	            	}else{
	            		editor.setData('');
		                jawaban1_editor_.setData('');
		                jawaban2_editor_.setData('');
		                jawaban3_editor_.setData('');
		                jawaban4_editor_.setData('');
		                jawaban5_editor_.setData('');
	            	}
	            }
	        },
	        error: function(res){
	            msg_pesan('Retrieving Data Failed. ','error');
	        }
	    });
	}

	let editor;
	let jawaban1_editor_;
	let jawaban2_editor_;
	let jawaban3_editor_;
	let jawaban4_editor_;
	let jawaban5_editor_;

	ClassicEditor
	    .create( document.querySelector( '#soal' ), {
	        // ...
	        toolbar: [],
	    } )
	    .then( newEditor => {
	        editor = newEditor;
	        editor.isReadOnly = true;
	    } )
	    .catch( error => {
	        console.log( error );
	    } );
	ClassicEditor
	    .create( document.querySelector( '#jawaban1' ), {
	    	toolbar: [],
	    } )
	    .then( jawaban1_editor => {
	        jawaban1_editor_ = jawaban1_editor;
	        jawaban1_editor_.isReadOnly = true;
	    } )
	    .catch( error => {
	        console.log( error );
	    } );

	ClassicEditor
	    .create( document.querySelector( '#jawaban2' ), {
	    	toolbar: [],
	    } )
	    .then( jawaban2_editor => {
	        jawaban2_editor_ = jawaban2_editor;
	        jawaban2_editor_.isReadOnly = true;
	    } )
	    .catch( error => {
	        console.log( error );
	    } );

	ClassicEditor
	    .create( document.querySelector( '#jawaban3' ), {
	    	toolbar: [],
	    } )
	    .then( jawaban3_editor => {
	        jawaban3_editor_ = jawaban3_editor;
	        jawaban3_editor_.isReadOnly = true;
	    } )
	    .catch( error => {
	        console.log( error );
	    } );

	ClassicEditor
	    .create( document.querySelector( '#jawaban4' ), {
	    	toolbar: [],
	    } )
	    .then( jawaban4_editor => {
	        jawaban4_editor_ = jawaban4_editor;
	        jawaban4_editor_.isReadOnly = true;
	    } )
	    .catch( error => {
	        console.log( error );
	    } );

	ClassicEditor
	    .create( document.querySelector( '#jawaban5' ), {
	    	toolbar: [],
	    } )
	    .then( jawaban5_editor => {
	        jawaban5_editor_ = jawaban5_editor;
	        jawaban5_editor_.isReadOnly = true;
	    } )
	    .catch( error => {
	        console.log( error );
	    } );
</script>
{% endblock %}