{% extends 'base/index.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}

<div class="row">
	<div class="col-12">
		<div class="box">
			<div class="box-header with-border">
			  <h4 class="box-title">Daftar Peserta Ujian </h4>
			</div>
			<div class="box-body">
			  <div class="table-responsive">
				  <table id="table_user" class="table table-bordered table-hover display wrap margin-top-10 w-p100">
					<thead>
						<tr>
							<th class="width_nomor_tabel td_center">NO</th>
							<th class="td_center">NAMA SISWA</th>
							<th class="width_nomor_tabel td_center">NILAI</th>
							<th class="td_center" style="width: 15%">TGL SELESAI</th>
							<th class="width_nomor_tabel td_center">STATUS NILAI</th>
							<th class="width_nomor_tabel td_center">STATUS</th>
						</tr>
					</thead>
					<tbody>
						{% for x in list_peserta %}
							<tr>
								<td class="td_center">{{forloop.counter}}</td>
								<td>{{x.id_pd.nama_siswa}}</td>
								<td>{% get_nilai_siswa_batch x.id_ujian.id_ujian request x.id_pd.uid %}</td>
								<td>{{x.updated_at|to_tgl_indo_with_time}}</td>
								<td>
									{% get_nilai_siswa_batch x.id_ujian.id_ujian request x.id_pd.uid as nilai_siswa %}
									{% is_passing nilai_siswa request x.id_ujian.id_ujian as param_lulus %}
									{% if param_lulus == True %}
										<span class="badge badge-success">LULUS</span>
									{% else %}
										<span class="badge badge-danger">GAGAL</span>
									{% endif %}
								</td>
								<td class="td_center">{{x.status}}</td>
								
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>       
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#table_user').DataTable( {
		sort:false,
		dom: 'Bfrtip',
		buttons: [
			'excel', 'pdf'
		]
	} );

		
	})
</script>
{% endblock %}